<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAIGC7WVeWGnVK3l8tuNktGuuHpEnWmd4</string>
	<key>GCM_SENDER_ID</key>
	<string>232514222897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.organizedYou.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>organizedyou</string>
	<key>STORAGE_BUCKET</key>
	<string>organizedyou.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232514222897:ios:dfaa2d4e394c77d9284e10</string>
</dict>
</plist>